{% extends "system/base.html" %}
{% block content %}
  <h1>New Trade</h1>

  {% if messages %}
    {% for message in messages %}
      <li> <font color="red">{{message}}</font> </li>
    {% endfor %}
  {% endif %}
  <br>
  <form action="{% url 'system:newTrade' %}" method="post">{% csrf_token %}
    {% if not_confident %}
      <input type="submit" name="confidence" value="Proceed with the trade" />
      <br>
      <br>
    {% endif %}
    <p>Enter Trade ID <input type = 'text'  name='trade_id' pattern="^[a-zA-Z0-9]*$" maxlength="16" pattern=".{16,}"   required title="16 digit ID. Letters and numbers only" style="text-transform:uppercase" value="{{trade_id.0}}" ></p>
    <p>Enter Seller <select name="seller_name">
      {% for company in companies %}
        <option>{{ company.company_name }}</option>
      {% endfor %}
      {% if seller_name %}
        <option selected>{{ seller_name.0 }}</option>
      {% endif %}
    </select></p>
    <p>Enter Buyer <select name="buyer_name">
      {% for company in companies %}
        <option>{{ company.company_name }}</option>
      {% endfor %}
      {% if buyer_name %}
        <option selected>{{ buyer_name.0 }}</option>
      {% endif %}
    </select></p>
    <p>Enter Product Name <select name="product_name">
      <option>Stocks</option>
      {% for product in products %}
        <option>{{ product.product_name }}</option>
      {% endfor %}
      {% if product_name %}
        <option selected>{{ product_name.0 }}</option>
      {% endif %}
    </select></p>
    <p>Enter Quantity <input type = 'text'  name='quantity' pattern="^[0-9]*$" required title="Number has to be an integer" value="{{quantity.0}}"></p>
    <p>Enter Notional Currency <select name="notional_currency">
      {% for currency in currencies %}
        <option>{{ currency }}</option>
      {% endfor %}
      {% if notional_currency %}
        <option selected>{{ notional_currency.0 }}</option>
      {% endif %}
    </select></p>
    <p>Enter Date of Maturity <input type = 'date'  name='maturity_date' value="{{maturity_date.0}}" required></p>
    <p>Enter Underlying Currency <select name="underlying_currency">
      {% for currency in currencies %}
        <option>{{ currency }}</option>
      {% endfor %}
      {% if underlying_currency %}
        <option selected>{{ underlying_currency.0 }}</option>
      {% endif %}
    </select></p>
    <p>Enter Strike Price <input type = 'text'  name='strike_price' pattern="[0-9]+([\.][0-9]+)?" step="0.01" required title="A number with up to 2 decimal places" value="{{strike_price.0}}"></p>
    <button class="btn btn-outline-info" type="submit">Submit</button>
  </form>
{% endblock content %}
