{% extends "system/base.html" %}
{% block content %}
  <h1>Generate Report</h1>
  <form action="{% url 'system:printReport' %}"  method="post">{% csrf_token %}
    <label for="date">Date of Report: </label>
    <input id="date" type="date" name="date" required value="{{ report_date }}">
    <input type="submit" value="Generate">
  </form>
  {% if messages %}
    {% for message in messages %}
      <li> <font color="red">{{message}}</font> </li>
    {% endfor %}
  {% endif %}
{% endblock content %}
