{% extends "system/base.html" %}
{% block content %}
  <h1>View/Edit Trades</h1>
  <br>
  <form action="{% url 'system:viewTrades' %}" method="post">{% csrf_token %}
    {% if messages %}
      {% for message in messages %}
        <li> <font color="red">{{message}}</font> </li>
      {% endfor %}
    {% endif %}
    {% if trade_edit %}
        {% if not_confident %}
          <input type="submit" name="confidence" value="Proceed with the trade" />
          <br>
          <br>
        {% endif %}
        <p>
          <label for="trade_id">Trade ID: </label>
          <input type="text" name="trade_id" value="{{trade_edit.trade_id}}" readonly class="inputaslabel"></input>
        </p>
        <p>
          <label for="trade_date">Date of Trade: </label>
          <input type="text" name="trade_date" value="{{trade_edit.date|date:"d-m-Y H:i"}}" readonly class="inputaslabel"></input>
        </p>
        <p>
          <label for="seller_name">Seller Name: </label>
          <input type="text" name="seller_name" value="{{ trade_edit.seller_name }}" readonly class="inputaslabel"></input>
        </p>
        <p>
          <label for="buyer_name">Buyer: </label>
          <input type="text" name="buyer_name" value="{{ trade_edit.buyer_name }}" readonly class="inputaslabel"></input>
        </p>
        <p>
          <label for="product">Product: </label>
          <input type="text" name="product" value="{{ trade_edit.product }}" readonly class="inputaslabel"></input>
        </p>
        <p>Enter Quantity <input type = 'text'  name='quantity' value="{{ trade_edit.quantity }}">        </p>
        <p>Enter Notional Currency <select name="notional_currency">
          {% for currency in currencies %}
            <option>{{ currency }}</option>
            {% if trade_edit.notional_currency %}
              <option selected>{{ trade_edit.notional_currency}}</option>
            {% endif %}
          {% endfor %}
        </select></p>
        <p>Enter Date of Maturity <input type = 'date'  name='maturity_date' value="{{ trade_edit.maturity_date|date:"Y-m-d" }}" ></p>
        <p>
          <label for="underlying_price">Underlying Price:</label>
          <input type="text" name="underlying_price" value="{{ trade_edit.underlying_price }}" readonly class="inputaslabel"></input>
        </p>
        <p>Enter Underlying Currency <select name="underlying_currency">
          {% for currency in currencies %}
            <option>{{ currency }}</option>
            {% if trade_edit.underlying_currency %}
              <option selected>{{ trade_edit.underlying_currency }}</option>
            {% endif %}
          {% endfor %}
        </select></p>
        <p>Enter Strike Price <input type = 'text'  name='strike_price' value="{{ trade_edit.strike_price }}"></p>
        <input type="submit" name="confirm_edits_submit"value="Confirm Edits"></input>
    {% endif %}
    <br>
    <br>
    <p>Select Day <input type="date"  name="selected_day" value="{{ date }}"></input></p>
    <input type="submit" name="selected_day_submit" value="Submit Day"></input>
    <br>
    <br>
    <h3>Select trade to edit or delete:</h3>
    {% if date %}
      {% if view_trades %}
        <h5>Trades On: {{ date }} </h5>
      {% else %}
        <h5>No Trades Were Added On: {{ date }}</h5>
      {% endif %}
    {% else %}
      <h5>Latest Trades:</h5>
    {% endif %}
      {% if view_trades %}
        <ul>
          {% for trade in view_trades %}
            <input type="radio" name="choice" value="{{ trade.trade_id }}">
            <label for="choice{{ forloop.counter }}">
              <b>ID:</b> {{trade.trade_id}}
              <b>Buyer:</b> {{ trade.buying_party }}
              <b>Seller:</b> {{trade.selling_party}}
            </label>
            <br>
          {% endfor %}
        </ul>
      {% endif %}
      {% if view_trades %}
        {% if num_trades %}
        <label for="pg_number">Page Number: </label>
        <select name="pg_number" onChange="form.submit();">
          <option selected>{{ cur_pg }}</option>
          {% for num in num_trades %}
            {% ifequal cur_pg|add:"0" num|add:"0" %}
            {% else %}
              <option value={{num}}>{{ num }}</option>
            {% endifequal %}
          {% endfor %}
        </select>

        <br>
        {% endif %}
        <input type="submit" name="selected_trade_submit" value="Edit Selected Trade"></input>
        <input type="submit" name="selected_trade_delete" value="Delete Selected Trade"></input>
      {% endif %}
  </form>
{% endblock content %}
