{% extends "system/base.html" %}
{% block content %}
  <h1>View/Edit Rules</h1>
  <br>
  <form action="{% url 'system:viewRules' %}" method="post">{% csrf_token %}
    <button type="submit">Update All Editions</button>
  </form>
  <br>
  <h3> Rules: </h3>
  {% if rules %}
    <ul>
    {% for rule in rules %}
      <li>
      <b>ID: </b>{{ rule.rule_id }}
      <br>
      <b>Description: </b>{{ rule.rule_desc }}
      {% if rule.rule_typing == "slider" %}
        <div class="slidecontainer">
        <input type="range" min="0" max="100" value="{{rule.rule_edition}}" class="slider" id="myRange">
        <b>Edition:</b> <span id="demo"></span>
        </div>

        <script>
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;

        slider.oninput = function() {
          output.innerHTML = this.value;
        }
        </script>
      {% else %}
        <b>Rule Edition:</b>{{ rule.rule_edition }}
      {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <b>No Rules to Display</b>
  {% endif %}

{% endblock content %}
