{% extends "system/base.html" %}
{% block content %}
  <h1>View/Edit Trades</h1>
  <br>
  <form action="{% url 'system:viewTrades' %}" method="post">{% csrf_token %}
    <p>Select Day <input type="date"  name="selected_day" value="{{ date }}"></input></p>
    <input type="submit" name="selected_day_submit" value="Submit Day"></input>
  <br>
  <h3>Select trade to edit:</h3>
    {% if view_trades %}
      <ul>
        {% for trade in view_trades %}
          <input type="radio" name="choice" value="{{ trade.trade_id }}">
          <label for="choice{{ forloop.counter }}">
            <b>ID:</b> {{trade.trade_id}}
            <b>Buyer:</b> {{ trade.buying_party }}
            <b>Seller:</b> {{trade.selling_party}}
          </label>
          <br>
        {% endfor %}
      </ul>
    {% endif %}
    {% if num_trades %}
    <label for="pg_number">Page Number: </label>
    <select name="pg_number" onChange="form.submit();">
      {% for num in num_trades %}
        <option value={{num}}>{{ num }}</option>
      {% endfor %}
      <option selected>{{ cur_pg }}</option>
    </select>

    <br>
    {% endif %}
    <input type="submit" name="selected_trade_submit" value="Select Trade"></input>
  </form>
{% endblock content %}
