{% extends "system/base.html" %}
{% block content %}
  <h1>View/Edit Rules</h1>
  <br>
  <form action="{% url 'system:viewRules' %}" method="post">{% csrf_token %}
    <!-- Finds the selected rule in rules  -->
    {% if updatingRule %}
      {% for rule in rules %}
        {% ifequal updatingRule|add:"0" rule.rule_id|add:"0" %}
        <label for="ruleIDOut">Rule ID:</label>
        <input type="text" id="ruleIDOut" name="ruleIDUpdate" value="{{rule.rule_id}}" readonly><br><br>
          {% if rule.rule_typing == "slider" %}
            <div class="slidecontainer" id="slider">
            {% if rule.rule_id == 1 %}
              <input name="updateSlider" type="range" min="0" max="100" value="{{rule.rule_edition}}" class="slider" id="myRange">
            {% endif %}
            {% if rule.rule_id == 2 %}
              <input name="updateSlider" type="range" min="0" max="48" value="{{rule.rule_edition}}" class="slider" id="myRange">
            {% endif %}
            <b>Value:</b> <span id="demo"></span>
            </div>

            <script>
            var slider = document.getElementById("myRange");
            var output = document.getElementById("demo");
            output.innerHTML = slider.value;

            slider.oninput = function() {
              output.innerHTML = this.value;
            }
            </script>
          {% else %}
            <b>Rule Edition:</b>{{ rule.rule_edition }}
          {% endif %}
        {% endifequal %}
      {% endfor %}
    {% endif %}
    <input type="submit" name="update_rule" value="Update Rule"></input>
  </form>
  <br>
  <h3>Select rule to edit:</h3>
  <form action="{% url 'system:viewRules' %}" method="post">{% csrf_token %}
    {% if rules %}
      <ul>
        {% for rule in rules %}
          <input type="radio" name="choice" value="{{ rule.rule_id }}">
          <label for="choice{{ forloop.counter }}">
            <b>ID:</b> {{ rule.rule_id }}
            <br>
            <b>Description:</b> {{ rule.rule_desc }}
            <br>
            <b>Value:</b> {{ rule.rule_edition }}
          </label>
          <br>
        {% endfor %}
      </ul>
    {% endif %}
    <input type="submit" name="select_rule" value="Select">
  </form>
{% endblock content %}
